@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;

}

a {
    text-decoration: none;
}
header {
    max-width: 1500px;
    margin: 0 auto;
    padding: 60px 100px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;
    color: #076882;
}

nav{
    display: flex;
    align-items: center;
    gap: 36px;
    
}

nav a {
    color: black;
    font-size: 20px;

}

button {
    background: #076882;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 80px;
    font-size: 20px;
    cursor: pointer;
}
.burger-btn {
    background: transparent;
    padding: 0;
    display: none;
}

.hero {
    height: 981px;
    background: url(..//images/task4/hero);
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 140px;
}

.hero-choose {
    padding: 24px 20px;
    width: 235px;
    height: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-choose:nth-child(1){
    background: #7B7B7B;
}

.hero-choose:nth-child(2){
    background: #504F4F;
}

.hero-choose:nth-child(3){
    background: #303030;
}

.hero-choose h4 {
    line-height: 160%;
}

.hero-choose select {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero button {
    height: 100px;
    padding: 20px;
}

.about-us {
    margin: 100px auto;
    padding: 0px 30px;
    max-width: 1080px;
    line-height: 150%;
    text-align: center;
}

h2{
    font-size: 64px;
    color: #888;
    font-family: "Lora", serif;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
}

.about-us p{
    margin: 30px 0;
}

.our-events{
text-align: center;
padding: 30px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1300px;
    margin: 25px auto;
    gap: 20px;

}

.card {
    position: relative;
}

.card-date{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 103px;
    height: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;    
}

.card-date-day{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 1px;
    
}
.card img{
    width: 100%;
    height: 360px;
    object-fit: cover;

}

.card-body {
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
}

.card-body h4 {
    font-size: 20px;
    font-weight: 500;
    text-transform: none;

}

.contact{
    max-width: 940px;
    margin: 100px auto;
    padding: 30px;

}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.contact-form-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 100px;
}

.contact-form-field input{
    border: none;
    border-bottom: 2px solid black;
    padding: 10px 0px;
    outline: none;
}

.contact-form textarea{
    resize: none;
    height: 100px;
    border: 1px solid black;
    outline: none;
}

.contact-form button{
    width: 235;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .burger-btn {
        display: block;
    }
    nav {
        display: none;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
            }
    .card img {
        height: 60vw;
    }
}

footer{
    background: #033C65;
    padding: 60px;
}

.footer-body{
    max-width: 1160px;
    margin: 0 auto;
    color: white;
}

.footer-body h3 {
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;

}

.footer-body-links{
    display: flex;
    justify-content: space-between;
    padding: 65px 0px 30px;
}

.footer-body-links ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
     list-style-type: none;
}

.footer-body-links a{
    font-weight: 100;
    color: white;


}
.footer-body-links h4{
    margin-bottom: 15px;
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 24px;
   

}

.footer-social-media{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;

}

.footer-policy{
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 2px solid white;
    padding: 15px 0px 32px;
}

.footer-policy a{
    color: white;
    font-weight: 100;

}

.rights{
    color: white;
    font-weight: 100;
    opacity: 0.5;

}
@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero button, .hero-choose {
        width: max(50%, 300px);
        
    }
    .hero-button {
        font-size: 10px;}

    .contact-form-field{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 40px;
    }
    .contact-form{
        gap: 30px;
    }
}

@media screen and (max-width: 550px) {
    .footer-body-links, .footer-policy, .footer-social-media, .rights {
        display: none;}
        .footer-body h3{
            font-size: 32px;
        }
    }

@media screen and (max-width: 450px) {
    header{
        padding: 30px;
    }

    .logo{
        font-size: 20px;
    }
    h2{
        font-size: 20px;
    }
    .hero button, .hero-choose {
        width: max(30%, 150px);
    }

    .about-us p{
        font-size: 14px;
        margin: 14px 0px;
        color: #303030;

    }

    .card-date{
        width: 70px;
        height: 70px;
        font-size: 14px;

    }

    .card-date-day{
        font-size: 20px;
        
    }

    .our-events-book{
        width: max(30%, 150px);;
        font-size: 14px;
    }
}

